S0 = (A0 ∨ B0 ∨ !Cin ∨ S0) ∧ (A0 ∨ !B0 ∨ Cin ∨ S0) ∧ (!A0 ∨ B0 ∨ Cin ∨ S0) ∧ (!A0 ∨ !B0 ∨ !Cin ∨ S0) ∧ (A0 ∨ B0 ∨ Cin ∨ !S0) ∧ (!A0 ∨ !B0 ∨ Cin ∨ !S0) ∧ (!A0 ∨ B0 ∨ !Cin ∨ !S0) ∧ (A0 ∨ !B0 ∨ !Cin ∨ !S0)
C1 = (!A0 ∨ !B0 ∨ Cin ∨ C1) ∧ (!A0 ∨ B0 ∨ !Cin ∨ C1) ∧ (A0 ∨ !B0 ∨ !Cin ∨ C1) ∧ (!A0 ∨ !B0 ∨ !Cin ∨ C1) ∧ (A0 ∨ B0 ∨ Cin ∨ !C1) ∧ (!A0 ∨ B0 ∨ Cin ∨ !C1) ∧ (A0 ∨ !B0 ∨ Cin ∨ !C1) ∧ (A0 ∨ B0 ∨ !Cin ∨ !C1)
S1 = (A1 ∨ B1 ∨ !C1 ∨ S1) ∧ (A1 ∨ !B1 ∨ C1 ∨ S1) ∧ (!A1 ∨ B1 ∨ C1 ∨ S1) ∧ (!A1 ∨ !B1 ∨ !C1 ∨ S1) ∧ (A1 ∨ B1 ∨ C1 ∨ !S1) ∧ (!A1 ∨ !B1 ∨ C1 ∨ !S1) ∧ (!A1 ∨ B1 ∨ !C1 ∨ !S1) ∧ (A1 ∨ !B1 ∨ !C1 ∨ !S1)
C2 = (!A1 ∨ !B1 ∨ C1 ∨ C2) ∧ (!A1 ∨ B1 ∨ !C1 ∨ C2) ∧ (A1 ∨ !B1 ∨ !C1 ∨ C2) ∧ (!A1 ∨ !B1 ∨ !C1 ∨ C2) ∧ (A1 ∨ B1 ∨ C1 ∨ !C2) ∧ (!A1 ∨ B1 ∨ C1 ∨ !C2) ∧ (A1 ∨ !B1 ∨ C1 ∨ !C2) ∧ (A1 ∨ B1 ∨ !C1 ∨ !C2)
S2 = (A2 ∨ B2 ∨ !C2 ∨ S2) ∧ (A2 ∨ !B2 ∨ C2 ∨ S2) ∧ (!A2 ∨ B2 ∨ C2 ∨ S2) ∧ (!A2 ∨ !B2 ∨ !C2 ∨ S2) ∧ (A2 ∨ B2 ∨ C2 ∨ !S2) ∧ (!A2 ∨ !B2 ∨ C2 ∨ !S2) ∧ (!A2 ∨ B2 ∨ !C2 ∨ !S2) ∧ (A2 ∨ !B2 ∨ !C2 ∨ !S2)
C3 = (!A2 ∨ !B2 ∨ C2 ∨ C3) ∧ (!A2 ∨ B2 ∨ !C2 ∨ C3) ∧ (A2 ∨ !B2 ∨ !C2 ∨ C3) ∧ (!A2 ∨ !B2 ∨ !C2 ∨ C3) ∧ (A2 ∨ B2 ∨ C2 ∨ !C3) ∧ (!A2 ∨ B2 ∨ C2 ∨ !C3) ∧ (A2 ∨ !B2 ∨ C2 ∨ !C3) ∧ (A2 ∨ B2 ∨ !C2 ∨ !C3)
S3 = (A3 ∨ B3 ∨ !C3 ∨ S3) ∧ (A3 ∨ !B3 ∨ C3 ∨ S3) ∧ (!A3 ∨ B3 ∨ C3 ∨ S3) ∧ (!A3 ∨ !B3 ∨ !C3 ∨ S3) ∧ (A3 ∨ B3 ∨ C3 ∨ !S3) ∧ (!A3 ∨ !B3 ∨ C3 ∨ !S3) ∧ (!A3 ∨ B3 ∨ !C3 ∨ !S3) ∧ (A3 ∨ !B3 ∨ !C3 ∨ !S3)
C4 = (!A3 ∨ !B3 ∨ C3 ∨ C4) ∧ (!A3 ∨ B3 ∨ !C3 ∨ C4) ∧ (A3 ∨ !B3 ∨ !C3 ∨ C4) ∧ (!A3 ∨ !B3 ∨ !C3 ∨ C4) ∧ (A3 ∨ B3 ∨ C3 ∨ !C4) ∧ (!A3 ∨ B3 ∨ C3 ∨ !C4) ∧ (A3 ∨ !B3 ∨ C3 ∨ !C4) ∧ (A3 ∨ B3 ∨ !C3 ∨ !C4)
S4 = (A4 ∨ B4 ∨ !C4 ∨ S4) ∧ (A4 ∨ !B4 ∨ C4 ∨ S4) ∧ (!A4 ∨ B4 ∨ C4 ∨ S4) ∧ (!A4 ∨ !B4 ∨ !C4 ∨ S4) ∧ (A4 ∨ B4 ∨ C4 ∨ !S4) ∧ (!A4 ∨ !B4 ∨ C4 ∨ !S4) ∧ (!A4 ∨ B4 ∨ !C4 ∨ !S4) ∧ (A4 ∨ !B4 ∨ !C4 ∨ !S4)
Cout = (!A4 ∨ !B4 ∨ C4 ∨ Cout) ∧ (!A4 ∨ B4 ∨ !C4 ∨ Cout) ∧ (A4 ∨ !B4 ∨ !C4 ∨ Cout) ∧ (!A4 ∨ !B4 ∨ !C4 ∨ Cout) ∧ (A4 ∨ B4 ∨ C4 ∨ !Cout) ∧ (!A4 ∨ B4 ∨ C4 ∨ !Cout) ∧ (A4 ∨ !B4 ∨ C4 ∨ !Cout) ∧ (A4 ∨ B4 ∨ !C4 ∨ !Cout)