S0 = (A0 ∨ B0 ∨ Cin ∨ !S0) ∧ (A0 ∨ B0 ∨ !Cin ∨ S0) ∧ (A0 ∨ !B0 ∨ Cin ∨ S0) ∧ (A0 ∨ !B0 ∨ !Cin ∨ !S0) ∧ (!A0 ∨ B0 ∨ Cin ∨ S0) ∧ (!A0 ∨ B0 ∨ !Cin ∨ !S0) ∧ (!A0 ∨ !B0 ∨ Cin ∨ !S0) ∧ (!A0 ∨ !B0 ∨ !Cin ∨ S0)

C1 = (!A0 ∨ !B0 ∨ C1) ∧ (!A0 ∨ !Cin ∨ C1) ∧ (!B0 ∨ !Cin ∨ C1) ∧ (!C1 ∨ A0 ∨ B0) ∧ (!C1 ∨ A0 ∨ Cin) ∧ (!C1 ∨ B0 ∨ Cin)

S1 = (A1 ∨ B1 ∨ C1 ∨ !S1) ∧ (A1 ∨ B1 ∨ !C1 ∨ S1) ∧ (A1 ∨ !B1 ∨ C1 ∨ S1) ∧ (A1 ∨ !B1 ∨ !C1 ∨ !S1) ∧ (!A1 ∨ B1 ∨ C1 ∨ S1) ∧ (!A1 ∨ B1 ∨ !C1 ∨ !S1) ∧ (!A1 ∨ !B1 ∨ C1 ∨ !S1) ∧ (!A1 ∨ !B1 ∨ !C1 ∨ S1)

C2 = (!A1 ∨ !B1 ∨ C2) ∧ (!A1 ∨ !C1 ∨ C2) ∧ (!B1 ∨ !C1 ∨ C2) ∧ (!C2 ∨ A1 ∨ B1) ∧ (!C2 ∨ A1 ∨ C1) ∧ (!C2 ∨ B1 ∨ C1)

S2 = (A2 ∨ B2 ∨ C2 ∨ !S2) ∧ (A2 ∨ B2 ∨ !C2 ∨ S2) ∧ (A2 ∨ !B2 ∨ C2 ∨ S2) ∧ (A2 ∨ !B2 ∨ !C2 ∨ !S2) ∧ (!A2 ∨ B2 ∨ C2 ∨ S2) ∧ (!A2 ∨ B2 ∨ !C2 ∨ !S2) ∧ (!A2 ∨ !B2 ∨ C2 ∨ !S2) ∧ (!A2 ∨ !B2 ∨ !C2 ∨ S2)

Cout = (!A2 ∨ !B2 ∨ Cout) ∧ (!A2 ∨ !C2 ∨ Cout) ∧ (!B2 ∨ !C2 ∨ Cout) ∧ (!Cout ∨ A2 ∨ B2) ∧ (!Cout ∨ A2 ∨ C2) ∧ (!Cout ∨ B2 ∨ C2)