S0 = (A0 ∨ B0 ∨ Cin0) ∧ (A0 ∨ !B0 ∨ !Cin0) ∧ (!A0 ∨ B0 ∨ !Cin0) ∧ (!A0 ∨ !B0 ∨ Cin0)

C0 = (A0 ∨ B0 ∨ Cin0) ∧ (A0 ∨ B0 ∨ !Cin0) ∧ (A0 ∨ !B0 ∨ Cin0) ∧ (!A0 ∨ B0 ∨ Cin0)

S1 = (A1 ∨ B1 ∨ C0) ∧ (A1 ∨ !B1 ∨ !C0) ∧ (!A1 ∨ B1 ∨ !C0) ∧ (!A1 ∨ !B1 ∨ C0)

C1 = (A1 ∨ B1 ∨ C0) ∧ (A1 ∨ B1 ∨ !C0) ∧ (A1 ∨ !B1 ∨ C0) ∧ (!A1 ∨ B1 ∨ C0)

S2 = (A2 ∨ B2 ∨ C1) ∧ (A2 ∨ !B2 ∨ !C1) ∧ (!A2 ∨ B2 ∨ !C1) ∧ (!A2 ∨ !B2 ∨ C1)

Cout2 = (A2 ∨ B2 ∨ C1) ∧ (A2 ∨ B2 ∨ !C1) ∧ (A2 ∨ !B2 ∨ C1) ∧ (!A2 ∨ B2 ∨ C1)